services:
  db:
    image: mysql:8
    container_name: resturant-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: resturant
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d

  backend:
    build: ./backend
    ports:
      - "3002:3001"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: root
      DB_NAME: resturant

  frontend:
    build: ./frontend
    ports:
      - "8082:80"
    depends_on:
      - backend

volumes:
  db_data:
